<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.geovane.benlimp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="benlimp.com.br.Main"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="benlimp.com.br.Clientes"
            android:label="@string/title_activity_clientes"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="benlimp.com.br.Mainagenda"
            android:label="@string/title_activity_mainagenda"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="benlimp.com.br.MainServicos"
            android:label="@string/title_activity_main_servicos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="benlimp.com.br.Maincadcli"
            android:label="@string/title_activity_maincadcli" />
        <activity
            android:name="benlimp.com.br.MainAddcli"
            android:label="@string/title_activity_main_addcli"></activity>
    </application>

</manifest>